.main-container {
  form {
      background-color: rgb(245, 245, 245);
      padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    mat-form-field {
        button{
            background-color: aqua;
        }
    }
  }
}
::ng-deep .mat-form-field-underline{
display: none;
}