<div class="main-container  ">

    <mat-toolbar>
        <span>Add Card</span>
        <span class="spacer"></span>
        <mat-icon (click)="closeCard()">close</mat-icon>
    </mat-toolbar>
    <form  [formGroup]="cardForm" >
        <mat-form-field appearance="fill" *ngIf="modelType==='list'">
            <mat-label>Name</mat-label>
            <input matInput placeholder="" formControlName="name" required>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="modelType==='card'">
            <mat-label>Title</mat-label>
            <input matInput placeholder="" formControlName="title" required>
        </mat-form-field>

        <mat-form-field class="" appearance="fill" *ngIf="modelType==='card'">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="" formControlName="description"></textarea>
        </mat-form-field>
        <button mat-raised-button (click)="submitData()">Submit</button>
    </form>
</div>
