
<div id="videos" #meetingContainer>

  <!-- <div id="screen-preview"></div>
  <div id="subscriber"></div>
  <div id="publisher"></div> -->
</div>

<div class="call-controls">
  <i *ngIf="isVideoOn " class="icon icon-active fas fa-video" (click)="toggleVideo()"></i>
  <i *ngIf="!isVideoOn" class="icon icon-inactive fas fa-video-slash" (click)="toggleVideo()" #tooltip="matTooltip"
    matTooltip="Enable Video"></i>
  <i *ngIf="isMicOn" class="icon icon-active fas fa-microphone" (click)="toggleMic()"></i>
  <i *ngIf="!isMicOn" class="icon icon-inactive fas fa-microphone-slash" (click)="toggleMic()" #tooltip="matTooltip"
    matTooltip="Unmute"></i>
  <i *ngIf="callConnected && !startShare" class="icon fas fa-share-square" (click)="startScreenShare()"
    #tooltip="matTooltip" matTooltip="Share Screen"></i>
  <i *ngIf="callConnected && startShare" [ngClass]="{'icon-inactive': startShare}" class="icon fas fa-share-square"
    (click)="stopShare()" #tooltip="matTooltip" matTooltip="Stop Sharing"></i>
  <i *ngIf="callConnected" class="icon far fa-stop-circle"
    [ngClass]="{'icon-inactive': startRecord,'blink':startRecord}" (click)="record()" #tooltip="matTooltip"
    matTooltip="Archive"></i>
  <button *ngIf="callConnected" class="disconnect" (click)="endCall()"><i
      class="icon end-call fas fa-phone-alt"></i></button>
</div>
